body {
    color: peru;
    font-size: x-large;
    margin: 0 ;
    text-align: center;
}
div {
    border: solid #999 1rem;
    
}

footer {
    text-align: center;
    color: cadetblue;
    font-size: 1rem;
}

